body{
  background-color:#ffffe0;
}

#header{
  font-size:200%;
  text-align:center;
  color:white;
  background:url(goodHeader.jpg);
  padding-top:32px;
  padding-bottom:32px;
}

h5{
  margin:0;
  padding:0;
}

h6{
  margin:0;
  padding:0;
}

img {
  float:left;
  padding-left:1em;
  padding-top:1em;
}

ul.menu{
  text-align:center;
  padding-right:5em;
}

li.tab{
  display:inline;
  padding-left:5em;
}

#aboutMe,#exp,#whyMe {
  position:relative;
  padding:15px;
  margin-top:2em;
  margin-left:25em;
  margin-right:30em;
  font-family: "Times New Roman", Times, serif;
  border-color:#5F9EA0;
  border-style:solid;
  border-radius:20px;
}

#sidebar {
  float:right;
  padding-right:10em;
  padding-top:1em;
  border-style:solid;
  border-radius:5px;
  border-color:#B0C4DE;
  background-color:#B0C4DE;
}

#sidebar h2{
  text-align:center;
}
#sidebar ul{
  list-style-type:none;
}

#contact{
  text-align:center;
  background:url(goodFooter.jpg);
  padding-top:3em;
  padding-bottom:3em;
}


