
body {
    background-color: #faebd0;
}

h1,h2 {
   font-size: 280%; 
   text-align: center;
   color:navy;
}

h5 {
   border-style:solid;
   border-width:2px;
   text-align:center;
   color: black;
}
p {
    text-align: justify;
    text-indent: 1.5em;
    margin-top: 1ex;
    margin-bottom: 1ex;
    vertical-align: baseline;
}


img {
    max-width: 50%;
    max-height: 50%;
    display:block;
    margin-left:auto;
    
}



a:hover {
    text-decoration: underline; 
    background: transparent
}

